body {
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHBhdHRlcm58ZW58MHx8MHx8&w=1000&q=80");
}
.wrapper {
  background-color: #3D3D3D;
  margin: 0 auto;
  height: auto;
  width: 80%;
}
.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: lightgreen;
  justify-content: center;
}
.header h1 {
  font-size: 50px;
  font-family: Unbounded;
  color: #8c52ff;
  text-align: center;
}

.logo {
  float: left;
}

.logo2 {
  float: right;
  align-items: right;
}

h1{
  font-size: 40px;
  font-family: Unbounded;
    color: white;
    text-align: center;

}

h2 {
  font-size: 40px;
  font-family: Unbounded;
  color: white;
}

h3 {
  font-size: 40px;
  font-family: Unbounded;
  color: white;
}

h4 {
  font-size: 20px;
  font-family: Noto Sans;
  color: white;
}

p {
  font-family: Noto Sans;
  font-size: 20px;
  margin: auto;
  color: white;
}

.navbar {
  width: 100%;
  background-color: #2B2B2B;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.navbar li {
  float: left;
  display: inline-block;
  text-align: center;
}

.navbar li a {
  display: block;
  color: #8c52ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  background-color: #2B2B2B;
  font-family: Unbounded;
  font-size: 50px
}

.navbar li a:hover {
  background-color: #111;
  transform: scale(1.1);
}

ul {
  text-align: center;
}

li {
  text-align: center;
}

ul li {
  display: inline-block;
  line-height: 8px;
  list-style: none;
  padding: 10px;
  font-size: 30px;
  color: white;
}

ul li a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
/* navbar and header styling done by Slava and Charlie. Wrapper done by Slava. Royalty free background image background chosen by Slava*/

footer {
  background-color: #2B2B2B;
  color: white;
  padding: 20px;
  font-family: Noto Sans;
  font-size: 10px;
  position: relative;
  bottom: 0;
  height: auto 0;
  width: 95%;
  margin: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.copyright-warning p {
  width: 50%;
  font-size: 15px;
  text-align: left;
  position: absolute;
  bottom: 0;
  font-family: Noto Sans;
}

.logo3 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
}

.contact-info h2 {
  width: 100%;
  font-size: 20px;
  font-family: Noto Sans;
  text-align: center;
}
.contact-info p {
  width: 100%;
  font-size: 15px;
  font-family: Noto Sans;
  color: white;
}
.social-media-links h2{
  width: 100%;
  font-size: 20px;
  font-family: Noto Sans;
  text-align: center;
}
.social-media-links img {
  width: 50px;
}
.social-media-links:hover li a img {
  transform: scale(1.1);
}
/* CSS code for the footer and styling completed by Charlie. Reference: https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 3px solid lightgreen;
  margin: 0 auto;
}
.form-text{
  padding: 10px;
  width: 95%;
  margin: auto;
  border: 3px solid lightgreen;
  align-items: center;
  font-family: Noto Sans;
}
.form-text h1 {
  font-family: Unbounded;
  font-size: 40px;
  text-align:center;
  color: white;
}
.form-text p {
  font-family: Noto Sans;
  font-size: 20px;
  text-align:center;
}
.form-label {
  font-family: Noto Sans;
  color: white;
}
.error {
  color: red;
}
/*form styling on Contact page completed by Charlie*/

#image-gallery {
  display: flex;
  justify-content: space-between;
}
#image-gallery2 {
  display: flex;
  justify-content: space-between;
}


.image {
  width: 48%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
  border: 3px solid lightgreen;
}
.image2 {
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
  border: 3px solid lightgreen;
}

.image:hover {
  transform: scale(1.1);
}
.image:hover a img {
  transform: scale(1.1);
}
  /*gallery styling code created by Charlie*/

.content-about {
  border: 3px solid lightgreen;
  padding: 10px;
  width: 95%;
  margin: auto;
  height: auto;
}
.content-about p {
  text-align: center;
  font-family: Noto Sans;
  font-size: 20px;
  line-height: 1.5;
}
.content-about h1 {
  text-align: center;
  font-family: Unbounded;
  font-size: 40px;
  width: 95%;
  margin: auto;
  color: white;
}
.content-about h2 {
  text-align: center;
  font-family: Unbounded;
  font-size: 40px;
  width: 95%;
  margin: auto;
  color: white;
}
.content-about a:hover {
  color: lightgreen;
  transform: scale(1.1);
}
.content-about label{
  text-align: center;
  font-family: Noto Sans;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
.content-about input{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;]
  margin: auto 0;
}

.content-about label input button {
align-items: center;
margin: auto 0;
}
/* Style frame for Content and text elements on multiple pages created by Charlie */

.game-explain{
 border: 3px solid lightgreen;
 padding: 10px;
 width: 95%;
 margin: auto;
}
.game-explain h1, p{
  text-align: center;
}
.game-explain h1 {
  color: white;
}
.form-game h4 {
  font-style: Noto Sans;
}
.form-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.form-game label, input{
  align-items: center;
}
/* Styling for game created by Charlie*/

@media screen and (max-width: 1000px) {
.wrapper {
width: 90%;
}
.navbar {
width: 100%;
}
.navbar li a {
font-size: 35px;
}
footer {
width: auto;
}
.copyright-warning, .contact-info, .social-media-links {
  width: 100%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    justify-content: center;
  }
  .header h1 {
    font-size: 15px;
  }
p {
  font-size: 10px;
}
h1 {
  font-size: 15px;
}
h2 {
  font-size: 15px;
}
.wrapper {
width: 50%;
}
.navbar li a {
font-size: 15px;
}
.navbar {
width: 100%;
float: none;
height: auto;
}
#image-gallery {
  width: 95%;
}
#image-gallery2 {
  width: 10%;
  height: auto;
}
footer{
  width: auto;
}
.copyright-warning, .contact-info, .social-media-links {
  width: 100%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-about {
  width: 80%;
}
.content-about p{
  font-size: 10px;
}
.content-about h1{
  font-size: 15px;
}
.content-about h2{
  font-size: 15px;
}
.form-text p{
  font-size: 10px;
}
.form-text h1{
  font-size: 15px;
}
.form-text {
  width: 80%;
}
.form, .game-explain {
  width: 80%;
  height: auto;
}
.form-game h4 {
  font-size: 8px;
}
